@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absoluteCenter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

//Media QUERY
/*
0 - 600 PHONE
600 - 900 TABLET PORATRAIT
900 - 1200 TABLET LANDSCAPE
1200 -1800 NORMAL STYLES DESCKTOP
1800 + BIG DESCKTOP 


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-descktop

Order: Base+typography > general layout + grid > page layout > components

1rem лучше не использовать из-за возможной неадекватной работы
1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };    // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    // 1200px
    }
    @if $breakpoint == big-descktop {
        @media only screen and (min-width: 112.5em) { @content };    // 1800px
    }    
}